# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
*.log

# macOS
.DS_Store

# Environment variables
.env

# IDE
.vscode/
.idea/
# Database backup
ticket_system_backup.sqlticket_system_backup_railway.sql
